h3{
    color: #b92e2e;
}
.post{
    background-color: antiquewhite;
}
.user{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    background-color: rgb(140, 126, 154);
}